body {
	background: url("../../img/guitar.jpg") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

.table-subheader {
	display:block;
	font-weight:400;
	font-size:12px;
}